.nav-action-container {
  margin: 20px auto;
  width: 90%;
}
.main-nav {
  padding: 10px 5%;
}
.contact-button{
  margin-right: 9px;
}
.contact-grid {
  display:grid;
  margin: 20px auto;
  width: 90%;
  height: 80vh;
  max-height: 80vh;
  overflow: auto;
}