<div class=" table-grid">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Number of Contacts</th>
        <th scope="col">Sub Total Owed</th>
        <th scope="col">Tax Amount</th>
        <th scope="col">Total Owed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">{{data.numberOfContacts}}</td>
        <td>{{data.subTotal}}</td>
        <td>{{data.taxAmount}}</td>
        <td>{{data.total}}</td>
      </tr>
    </tbody>
  </table>
</div>
